* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}
#container {
  display: flex;
  flex-direction: row-reverse;
}
#logo {
  width: 1.5em;
  height: 1.5em;
  margin: 1.1em;
  left: 0;
  position: absolute;
  background-color: rgba(196, 196, 196, 1);
  border: 0.1em solid rgba(196, 196, 196, 1);
  border-radius: 50%;
}
#picture {
  width: 31%;
  margin: 1em, 0, 0, 1.5em;
}

section {
  width: 60%;
  height: 30em;
  margin-top: 2.5rem;
  margin-left: 5.5em;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.25em;
}
header p {
  margin-top: 0;
  margin-bottom: 2.125em;
}
header p a {
  color: rgba(51, 51, 51, 1);
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}
form {
  width: 43em;
  height: auto;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2em;
  color: rgba(102, 102, 102, 1);
}
input {
  height: 3em;
  width: 43rem;
  margin-bottom: 1.375em;
  border-radius: 0.75em;
}
[type~="password"] {
  margin-bottom: 0.3rem;
}
label {
  height: 1.2em;
  width: 2.2em;
  display: block;
}
.show {
  display: flex;
  justify-content: space-between;
}
#check {
  width: 40em;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 2rem;
}
#check p {
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 1.9rem, 1rem, 1rem, 0;
  margin-top: 0.5rem, 1rem;
  border: 3px solid green;
}
#check img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.6875rem, 0.6875rem;
}
.list {
  width: 30%;
  line-height: 0.8rem;
  margin-bottom: 1rem;
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  padding: 0.2rem;
  font-size: 1rem;
  /* line-height: 1rem; */
  margin-bottom: 0.5rem;
}

p a {
  color: rgba(51, 51, 51, 1);
  padding: 0.5rem;
  margin-top: 0.8rem;
}
button {
  width: 10em;
  height: 2.5em;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(196, 196, 196, 1);
  border: 0.1em solid rgba(196, 196, 196, 1);
  border-radius: 2.5em;
  padding: 0.4rem;
}

/* +++++++++++++++++++++++
  The Signin Oage
  +++++++++++++++++++++++++ */
#body {
  margin: 13em, 20em, 10em, 0;
}
#contain_signin {
  width: 65%;
  height: 80%;
  border: 0.3rem solid red;
}
#alert {
  color: rgba(255, 255, 255, 1);
  width: 20em;
  height: 8em;
  right: 0;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 1rem;
  padding: 0/75rem 0.5rem;
}
#first {
  width: 55%;
  height: 50%;
}
#second {
  width: 55%;
  height: 45%;
  color: rgb(17, 17, 17);
  /* background-color: rgba(196, 196, 196, 0.4); */
  background-color: rgba(102, 102, 102, 0.045);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.9rem;
}
#h1 {
  text-align: center;
}
#important + img {
  width: 12em;
  height: 2.5em;
  display: flex;
}
#signin {
  width: 8em;
  height: 3em;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  left: 0;
  float: right;
  color: rgb(255, 255, 255);
  background-color: rgba(196, 196, 196, 1);
  border: 0.1em solid rgba(196, 196, 196, 1);
  border-radius: 2.5em;
  padding: 0.4rem;
}

#join {
  width: 12em;
  height: 3em;
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.9rem;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border: rgb(245, 245, 245);
  border-radius: 2.5em;
}
