* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}
#container {
  display: flex;
  flex-direction: row-reverse;
}
#logo {
  width: 2em;
  height: 2em;
  margin: 1.5em;
  left: 0;
  position: absolute;
  background-color: rgba(196, 196, 196, 1);
  border: 0.1em solid rgba(196, 196, 196, 1);
  border-radius: 50%;
}
#picture {
  width: 38%;
  height: 30rem;
  margin: 0.975rem, 1.75rem, 0.9125rem, 4.0625rem;
}
section {
  width: 60%;
  height: 60em;
  margin-top: 3.5rem;
  margin-left: 5.5em;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.25em;
}
header p {
  margin-top: 0;
  margin-bottom: 2.125em;
}
header p a {
  color: rgba(51, 51, 51, 1);
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}
form {
  width: 43em;
  height: auto;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: rgba(102, 102, 102, 1);
}
input {
  height: 3.5em;
  width: 43rem;
  margin-bottom: 1.375em;
  border-radius: 0.75em;
}
label {
  height: 1.5em;
  width: 2.75em;
  display: block;
}
.show {
  display: flex;
  justify-content: space-between;
}
#check {
  width: 40em;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 2.5rem;
}
#check p {
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
#check img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.6875rem;
}
li {
  display: inline-block;
  padding: 0.3rem;
  line-height: 1.3125rem;
  margin: 0;
}
p a {
  color: rgba(51, 51, 51, 1);
  padding: 0.5rem;
}
button {
  width: 12em;
  height: 3em;
  font-weight: 500;
  font-size: 1.475rem;
  line-height: 2.0625rem;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(196, 196, 196, 1);
  border: 0.1em solid rgba(196, 196, 196, 1);
  border-radius: 2.5em;
}

/* +++++++++++++++++++++++
  The Signin Oage
  +++++++++++++++++++++++++ */
#body {
  margin: 13em, 20em, 10em, 0;
}
#contain_signin {
  width: 65%;
  height: 80%;
  border: 0.3rem solid red;
}
#sign {
  text-align: center;
  font-size: ;
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 3rem;
  margin-top: 0;
}
#alert {
  color: rgba(255, 255, 255, 1);
  width: 20em;
  height: 8em;
  right: 0;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 1rem;
  padding: 0/75rem 0.5rem;
}
#first {
  width: 55%;
  height: 50%;
}
#second {
  width: 55%;
  height: 45%;
  color: rgb(17, 17, 17);
  background-color: rgba(196, 196, 196, 0.4);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.9rem;
}
#second h3,
p {
  text-align: center;
}
#join {
  width: 12em;
  height: 3em;
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.9rem;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border: rgb(245, 245, 245);
  border-radius: 2.5em;
}
