* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}
#container {
  display: flex;
  flex-direction: row-reverse;
}
#logo {
  width: 2em;
  height: 2em;
  margin: 1rem;
  background-color: rgba(196, 196, 196, 1);
  border: 0.1em solid rgba(196, 196, 196, 1);
  border-radius: 50%;
}
#picture {
  width: 31%;
  margin: 1rem, 0, 0, 1rem;
}
section {
  width: 60%;
  height: inherit;
  margin-left: 5.5em;
}
h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.25em;
  margin-top: 0;
}
h2 {
  font-weight: 600;
  margin-bottom: 2.5em;
}
header p {
  margin-top: 0;
  margin-bottom: 2.125em;
}
header p a {
  color: rgba(51, 51, 51, 1);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
form {
  width: 90%;
  height: auto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  color: rgba(102, 102, 102, 1);
}
input {
  width: 97%;
  height: 2.5rem;
  margin-bottom: 1.375rem;
  border-radius: 0.75rem;
}
label i {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}
[type~="password"] {
  margin-bottom: 0.3rem;
}
.show {
  width: 95%;
  height: 1.6875rem;
  display: flex;
  justify-content: space-between;
}
#check {
  width: 40em;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 2rem;
}
#check p,
i {
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 1.9rem, 1rem, 1rem, 0;
  margin-top: 0.5rem, 1rem;
}
#check img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.6875rem, 0.6875rem;
}
.list {
  width: 28%;
  line-height: 0.8rem;
  margin-bottom: 1rem;
}
ul {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  padding: 0.2rem;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  line-height: 0.625rem;
}
p a {
  color: rgba(51, 51, 51, 1);
  padding: 0.5rem;
  margin-top: 0.8rem;
}
#submit {
  width: 10em;
  height: 2.5em;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(196, 196, 196, 1);
  border: 0.1em solid rgba(196, 196, 196, 1);
  border-radius: 2.5em;
  padding: 0.4rem;
  margin-bottom: 0rem;
}
#submit:hover,
#link:hover,
#sign_button:hover,
#sign_button a:hover {
  color: rgba(0, 0, 0, 0.692);
  background-color: rgba(198, 198, 198);
}
/* +++++++++++++++++++++++
  The Signin Page
  +++++++++++++++++++++++++ */
.contain {
  margin: auto;
}
#logo-bar {
  height: 3.5rem;
  margin: 0;
  padding: 0;
  border-bottom: 0.0625rem solid rgba(102, 102, 102, 0.25);
  display: flex;
}
#logo-bar span {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #c4c4c4;
}
#signin {
  width: 44.7%;
  margin: auto;
  padding: 0;
}
#signin h1 {
  text-align: center;
  margin-bottom: 2.5rem;
}
#signin_form {
  width: 90%;
  padding: 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  margin: auto;
  border: 0.1rem solid rgba(102, 102, 102, 0.35);
  border-radius: 1.5rem;
}
.input {
  width: 100%;
  height: 3rem;
  margin-bottom: 1.375rem;
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 0.75rem;
}
#signin_form > p {
  margin-bottom: 1.5rem;
}
/* +++++++++++++++++++++++++++ 
Signin_below form content
+++++++++++++++++++++++++++ */
#option {
  display: flex;
  flex-direction: row;
}
#request {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
#questions {
  height: 4rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}
#checkbox {
  width: 1.2rem;
  height: 1.2rem;
  color: rgb(17, 17, 17);
}
.forget {
  width: 11.25rem;
  color: rgb(17, 17, 17);
  font-weight: 500;
  line-height: 1.5rem;
  text-decoration: underline;
  margin-top: 0.7 5rem;
  display: flex;
  flex-direction: column;
}
.forget a {
  width: 20rem;
  color: rgb(17, 17, 17);
  text-decoration: none;
  line-height: 1.5rem;
}
.note {
  width: 18rem;
  height: 9rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  border-radius: 0.5rem;
  padding: 0.75rem 0.5rem;
}
#sign_button {
  width: 9rem;
  height: 3.5rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(199, 199, 199, 0.7);
  border-radius: 2rem;
  float: right;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
#sign_button a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
/* +++++++++++++++++++++++++++ 
+++++++++++loin+++++++++
+++++++++++++++++++++++++++ */
#join {
  background-color: rgba(196, 196, 196, 0.151);
  border-radius: 1.5rem;
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 6rem;
}
#join-content {
  width: 22.8125rem;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
#join-content h2 {
  margin: 0;
  color: rgb(17, 17, 17);
  font-size: 1.25rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
#para {
  width: 21rem;
  height: 6rem;
  margin: 1rem;
}
#join-content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}
#link {
  width: 11.25rem;
  height: 3rem;
  border: 0.0625rem solid rgb(17, 17, 17);
  border-radius: 2.5em;
  padding: 0.4rem;
  margin: auto;
}
#join-content a {
  width: 5.5625rem;
  height: 1.875rem;
  color: rgb(17, 17, 17);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
